In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
import pandas as pd

# Create a dictionary with student names and ages
data = {
    'StudentName': ['Alice', 'Bob', 'Carol', 'David'],
    'Age': [22, 24, 23, 25]
}

# Create a DataFrame from the dictionary
student_df = pd.DataFrame(data)

# Print the DataFrame
print(student_df)

  StudentName  Age
0       Alice   22
1         Bob   24
2       Carol   23
3       David   25

In [3]:
# Select students older than 23
older_students = student_df[student_df['Age'] > 23]

# Print the selected rows
print(older_students)

  StudentName  Age
1         Bob   24
3       David   25

In [4]:
import pandas as pd

# Sample student data
data = {'Name': ['Alice', 'Bob', 'Carol', 'David', 'Eve'],
        'Age': [22, 20, 21, 23, 22],
        'GPA': [3.5, 3.2, 3.7, 3.9, 3.6]}

# Create a DataFrame
student_df = pd.DataFrame(data)

# Calculate and print the average GPA
average_gpa = student_df['GPA'].mean()
print("Average GPA:", average_gpa)

# Calculate and print the maximum age
max_age = student_df['Age'].max()
print("Maximum Age:", max_age)

# Calculate and print the minimum age
min_age = student_df['Age'].min()
print("Minimum Age:", min_age)

Average GPA: 3.5800000000000005
Maximum Age: 23
Minimum Age: 20

# Exercise 1: DataFrame Manipulation

In [5]:
import pandas as pd

data = {
    'EmployeeID': [101, 102, 103, 104, 105],
    'FirstName': ['John', 'Jane', 'Bob', 'Alice', 'Eve'],
    'LastName': ['Smith', 'Doe', 'Johnson', 'Johnson', 'Brown'],
    'Department': ['HR', 'IT', 'Finance', 'IT', 'Marketing'],
    'Salary': [55000, 60000, 62000, 58000, 54000],
    'HireDate': ['2020-03-15', '2019-06-10', '2021-01-20', '2022-04-05', '2018-09-30']
}

df = pd.DataFrame(data)
df

   EmployeeID FirstName LastName Department  Salary    HireDate
0         101      John    Smith         HR   55000  2020-03-15
1         102      Jane      Doe         IT   60000  2019-06-10
2         103       Bob  Johnson    Finance   62000  2021-01-20
3         104     Alice  Johnson         IT   58000  2022-04-05
4         105       Eve    Brown  Marketing   54000  2018-09-30

In [6]:
# a Calculate and print the average salary of all employees.
Average_Salary = df['Salary'].mean()
print(f'Average Salary is {Average_Salary}')

Average Salary is 57800.0

In [7]:
# b Find and print the employee(s) with the highest salary.


highest_salary_employee = df[df['Salary'] == df['Salary'].max()]
highest_salary_employee

   EmployeeID FirstName LastName Department  Salary    HireDate
2         103       Bob  Johnson    Finance   62000  2021-01-20

In [8]:
 # c Find and print the employee(s) who were hired in 2021 or later.


df['HireDate'] = pd.to_datetime(df['HireDate'])
new_employees = df[df['HireDate'] >= '2021-01-01']
new_employees

   EmployeeID FirstName LastName Department  Salary   HireDate
2         103       Bob  Johnson    Finance   62000 2021-01-20
3         104     Alice  Johnson         IT   58000 2022-04-05

# Exercise 2: Data Filtering

In [9]:
import pandas as pd

data = {
    'CarModel': ['Toyota Camry', 'Honda Accord', 'Ford Focus', 'Toyota Camry', 'Honda Civic'],
    'Year': [2020, 2022, 2021, 2019, 2020],
    'Price': [25000, 28000, 22000, 23000, 19500],
    'Mileage': [15000, 1000, 8000, 22000, 3000],
    'Color': ['Blue', 'White', 'Red', 'Gray', 'Black']
}

car = pd.DataFrame(data)
car

       CarModel  Year  Price  Mileage  Color
0  Toyota Camry  2020  25000    15000   Blue
1  Honda Accord  2022  28000     1000  White
2    Ford Focus  2021  22000     8000    Red
3  Toyota Camry  2019  23000    22000   Gray
4   Honda Civic  2020  19500     3000  Black

In [10]:
# a Filter and print the cars that are either Toyota Camry or Honda Civic
car_selection = car.loc[car.CarModel.isin(['Toyota Camry','Honda Civic'])]
car_selection

       CarModel  Year  Price  Mileage  Color
0  Toyota Camry  2020  25000    15000   Blue
3  Toyota Camry  2019  23000    22000   Gray
4   Honda Civic  2020  19500     3000  Black

In [11]:
# b Find and print the average price of cars from the year 2020.
avg_price_2020 = car[car['Year']==2020].Price.mean()
avg_price_2020

22250.0

In [12]:
# c  Filter and print the cars that have a price less than $24,000 and mileage less than 10,000.
Best_car = car.loc[(car['Price'] < 24000)&(car['Mileage'] < 10000)]
Best_car

      CarModel  Year  Price  Mileage  Color
2   Ford Focus  2021  22000     8000    Red
4  Honda Civic  2020  19500     3000  Black

# Exercise 3: Sales Data Analysis

In [13]:
import pandas as pd

data = {
    'OrderDate': ['2023-01-01', '2023-01-02', '2023-01-02', '2023-01-03', '2023-01-03'],
    'ProductID': [101, 102, 103, 101, 102],
    'ProductName': ['Product A', 'Product B', 'Product C', 'Product A', 'Product B'],
    'Category': ['Electronics', 'Clothing', 'Electronics', 'Electronics', 'Clothing'],
    'Quantity': [2, 3, 1, 4, 2],
    'Price': [500, 40, 600, 480, 45],
    'CustomerID': [1, 2, 3, 1, 2],
    'CustomerName': ['Alice', 'Bob', 'Carol', 'Alice', 'Bob']
}

sales_df = pd.DataFrame(data)
sales_df

,OrderDate,ProductID,ProductName,Category,Quantity,Price,CustomerID,CustomerName
0,2023-01-01,101,Product A,Electronics,2,500,1,Alice
1,2023-01-02,102,Product B,Clothing,3,40,2,Bob
2,2023-01-02,103,Product C,Electronics,1,600,3,Carol
3,2023-01-03,101,Product A,Electronics,4,480,1,Alice
4,2023-01-03,102,Product B,Clothing,2,45,2,Bob

In [14]:
# a) Calculate and print the total revenue generated from these sales.

sales_df['Total Revenue'] = sales_df['Price']*sales_df['Quantity']
sales_df

,OrderDate,ProductID,ProductName,Category,Quantity,Price,CustomerID,CustomerName,Total Revenue
0,2023-01-01,101,Product A,Electronics,2,500,1,Alice,1000
1,2023-01-02,102,Product B,Clothing,3,40,2,Bob,120
2,2023-01-02,103,Product C,Electronics,1,600,3,Carol,600
3,2023-01-03,101,Product A,Electronics,4,480,1,Alice,1920
4,2023-01-03,102,Product B,Clothing,2,45,2,Bob,90

In [15]:
# b) Find and print the top 5 products by revenue.

product_revenue = sales_df.groupby('ProductName')['Total Revenue'].sum().reset_index()
top_5_products = product_revenue.sort_values(by='Total Revenue', ascending=False).head(5)
print("Top 5 Products by Revenue:")
print(top_5_products)

Top 5 Products by Revenue:
  ProductName  Total Revenue
0   Product A           2920
2   Product C            600
1   Product B            210

In [16]:
# c) Identify the customer(s) with the highest total spending and print their names.

customer_spending = sales_df.groupby('CustomerName')['Total Revenue'].sum().reset_index()
highest_spending = customer_spending[customer_spending['Total Revenue']== customer_spending['Total Revenue'].max()]
highest_spending

  CustomerName  Total Revenue
0        Alice           2920

# Exercise 4: Weather Data Analysis

In [17]:
import pandas as pd

data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-02-01', '2023-02-02'],
    'Temperature': [15, 18, 20, 10, 12],
    'Precipitation': [0.2, 0.0, 0.5, 0.0, 0.8],
    'Humidity': [65, 70, 75, 55, 60],
    'WindSpeed': [10, 8, 12, 14, 10]
}

weather_df = pd.DataFrame(data)
weather_df

         Date  Temperature  Precipitation  Humidity  WindSpeed
0  2023-01-01           15            0.2        65         10
1  2023-01-02           18            0.0        70          8
2  2023-01-03           20            0.5        75         12
3  2023-02-01           10            0.0        55         14
4  2023-02-02           12            0.8        60         10

In [18]:
# a) Calculate and print the average temperature for each month.



# Extract the month from the 'Date' column
weather_df['Month'] = pd.to_datetime(weather_df['Date']).dt.month

# Calculate and print the average temperature for each month
average_temp = weather_df.groupby('Month')['Temperature'].mean().reset_index()
average_temp

   Month  Temperature
0      1    17.666667
1      2    11.000000

In [19]:
# b) Find and print the days with the highest precipitation (rainy days).


highest_precipitation = weather_df[weather_df['Precipitation'] == weather_df['Precipitation'].max()]
highest_precipitation

         Date  Temperature  Precipitation  Humidity  WindSpeed  Month
4  2023-02-02           12            0.8        60         10      2

In [20]:
 # c) Identify and print the months with the highest average wind speed.


# Extract the month from the 'Date' column
weather_df['Month'] = pd.to_datetime(weather_df['Date']).dt.month

# Calculate the average wind speed for each month
average_wind_speed = weather_df.groupby('Month')['WindSpeed'].mean().reset_index()

# Find and print the months with the highest average wind speed
highest_avg_wind_speed = average_wind_speed[average_wind_speed['WindSpeed'] == average_wind_speed['WindSpeed'].max()]
highest_avg_wind_speed

   Month  WindSpeed
1      2       12.0

# Exercise 5: Stock Market Analysis

In [21]:
import pandas as pd

data = {
    'Date': ['2023-01-01', '2023-01-01', '2023-01-02', '2023-01-02', '2023-01-03'],
    'Company': ['Company A', 'Company B', 'Company A', 'Company B', 'Company A'],
    'StockPrice': [100, 50, 102, 48, 105],
    'Volume': [10000, 8000, 12000, 9000, 15000],
    'MarketCap': [500000, 400000, 510000, 480000, 520000]
}

stock_df = pd.DataFrame(data)
stock_df

         Date    Company  StockPrice  Volume  MarketCap
0  2023-01-01  Company A         100   10000     500000
1  2023-01-01  Company B          50    8000     400000
2  2023-01-02  Company A         102   12000     510000
3  2023-01-02  Company B          48    9000     480000
4  2023-01-03  Company A         105   15000     520000

In [22]:
stock_df['Date']= pd.to_datetime(stock_df['Date'])
stock_df

        Date    Company  StockPrice  Volume  MarketCap
0 2023-01-01  Company A         100   10000     500000
1 2023-01-01  Company B          50    8000     400000
2 2023-01-02  Company A         102   12000     510000
3 2023-01-02  Company B          48    9000     480000
4 2023-01-03  Company A         105   15000     520000

In [23]:
# a) Calculate and print the daily trading volume for each company.

trading_volume = stock_df.groupby('Company')['Volume'].sum().reset_index()
trading_volume

     Company  Volume
0  Company A   37000
1  Company B   17000

In [24]:
# b) Find and print the company with the highest market capitalization.

market_cap = stock_df.groupby('Company')['MarketCap'].sum().reset_index()
market_cap

     Company  MarketCap
0  Company A    1530000
1  Company B     880000

In [25]:
# c) Identify and print the days when a specific company's stock price increased by more than 5%.

# Specify the company and the percentage increase threshold
company_name = 'Company A'
percentage_increase_threshold = 5

# Filter the DataFrame for the specific company
company_df = stock_df[stock_df['Company'] == company_name]

# Calculate the percentage increase in stock price compared to the previous day
company_df['PriceIncrease'] = company_df['StockPrice'].pct_change() * 100

# Filter the days where the stock price increased by more than 5%
increased_days = company_df[company_df['PriceIncrease'] > percentage_increase_threshold]

# Print the days when the stock price increased by more than 5%
print(increased_days[['Date', 'StockPrice', 'PriceIncrease']])

Empty DataFrame
Columns: [Date, StockPrice, PriceIncrease]
Index: []

/tmp/ipykernel_20/1610129120.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_df['PriceIncrease'] = company_df['StockPrice'].pct_change() * 100